<!-- <h1>Culper#index</h1>
<p>Find me in app/views/culper/index.html.erb</p>
 -->


 <a href="encrypt/new" class="button">Encrypt Your Message!</a>
 <a href="decrypt/new" class="button">Decrypt Your Message!</a>