<!-- <h1>Decrypt#create</h1>
<p>Find me in app/views/decrypt/create.html.erb</p>
 -->



<!-- 

<html>
<body>
	<h2>Place text to decrypt below:</h2>

   <%= form_for(@decrypt_text) do |f| %>  
  <div class="field"> 
    <%= f.text_area :decryptme %><br> 
  </div> 
  <div class="actions"> 
    <%= f.submit "Submit" %> 
  </div> 
# <% end %>

</body>
</html> -->